body {
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 60px;
    color: #000;
}

h1 a:hover {
    text-decoration: none;
}

h3 > a, a:hover {
    color: #000;
}

a, a:hover {
    color: #000;
}

.navbar-default {
    background-color: #fff;
}

.movie-info {
    border-bottom-style: solid;
    border-bottom-color: #F2F2F2;
    border-bottom-width: 1px;
    margin: 35px auto;
}

.poster {
    height: 315px;
}

#preview-pane {
    display: none;
}

#preview-trailer, #preview-poster {
    margin: 20px auto;
    width: 80%;
}