body {
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 60px;
    color: #000;
}

h3 > a, a:hover {
    color: #000;
}

a, a:hover {
    color: #000;
}

.navbar-default {
    background-color: #fff;
}