{% extends "base.html" %}
{% block title %}Edit Movie{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h3>Editing "{{movie.name}}"</h3><br>
    <form action='{{url_for('editMovie', movie_id=movie.id)}}' method='post'>
      <input type="text" name ="name" placeholder="{{movie.name}}"><br><br>
      <input type="text" name ="year" placeholder="{{movie.year}}"><br><br>
      <input type="text" name ="poster" placeholder="{{movie.poster}}"><br><br>
      <input type="text" name ="description" placeholder="{{movie.description}}"><br><br>
      <input type="text" name ="trailer" placeholder="{{movie.trailer}}"><br><br>
      <input type="text" name ="genre" placeholder="{{movie.genre}}"><br><br>
      <input type="submit" value="Submit">
    </form><br><br>
    <h4><a href='{{url_for('main')}}'>Back to Movies.</a></h4>
    <div>
    # Genre Codes<br>
    # 1000000 = None<br>
    # 1000001 = Drama<br>
    # 1000010 = Comedy<br>
    # 1000100 = Thriller<br>
    # 1001000 = Action<br>
    # 1010000 = Horror<br>
    # 1100000 = Animation
    </div>
  </div>
{% endblock %}