{% extends "base.html" %}
{% block title %}Edit Movie{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h3>Editing "{{movie.name}}"</h3><br>
    <form action='{{url_for('editMovie', movie_id=movie.id)}}' method='post'>
      <div class="form-group">
        <label for="name">Title:</label>
        <input type="text" class="form-control" name="name" placeholder="{{movie.name}}" id="name">
      </div>
      <div class="form-group">
        <label for="year">Year:</label>
        <input type="text" class="form-control" name="year" placeholder="{{movie.year}}" id="year">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" name="description" placeholder="{{movie.description}}" id="description">
      </div>
      <div class="form-group">
        <label for="genre">Genre:</label>
        <input type="text" class="form-control" name="genre" placeholder="{{movie.genre}}" id="genre">
      </div>
      <div class="form-group">
        <label for="trailer">Trailer:</label>
        <input type="text" class="form-control" name="trailer" placeholder="{{movie.trailer}}" id="trailer">
      </div>
      <div class="form-group">
        <label for="poster">Poster:</label>
        <input type="text" class="form-control" name="poster" placeholder="{{movie.poster}}" id="poster">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form><br><br>
    <h4><a href='{{url_for('main')}}'>Back to Movies.</a></h4>
    <div>
    # Genre Codes<br>
    # 1000000 = None<br>
    # 1000001 = Drama<br>
    # 1000010 = Comedy<br>
    # 1000100 = Thriller<br>
    # 1001000 = Action<br>
    # 1010000 = Horror<br>
    # 1100000 = Animation
    </div>
  </div>
{% endblock %}