{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='modal.css') }}">
  <script src="{{ url_for('static', filename='modal.js') }}" async></script>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
            {% for m in messages %}
              <li>{{m}}</li>
            {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}
  {% for m in movies %}
      <div class="container movie-info">
        <div class="row">
          <div class="col-sm-4">
            <img src='{{m.poster}}' id='{{m.trailer}}' class="img-responsive poster center-block imgMod" alt="{{m.name}} Poster">
          </div>
          <div class="col-sm-8">
            <h2>{{m.name}}
              <small><a href='{{url_for('editMovie', movie_id=m.id)}}'>Edit</a> | <a href='{{url_for('deleteMovie', movie_id=m.id)}}'>Delete</a></small>
            </h2><br>
            <h4>Description:</h4>
            <p>{{m.description}}</p>
          </div>
        </div><br><br>
      </div>
  {% endfor %}
  <div class="container-fluid text-center">
    <p><a href='{{url_for('newMovie')}}'>Add Movie</a> | <a href='{{url_for('json')}}'>API Endpoint</a></p>
  </div>
  <!-- IMAGE MODAL -->
  <div id="myModal" class="modal">
    <div class="embed-responsive embed-responsive-16by9 center-block">
      <iframe class="modal-content embed-responsive-item" id="vid01"></iframe>
    </div>
    <div id="caption"></div>
  </div>

{% endblock %}