{% extends "base.html" %}
{% block title %}Add Movie{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h3>Add a new movie!!!!</h3><br>
    <form action="{{url_for('newMovie')}}" method="POST">
        <input type="text" name="name" placeholder="Movie Title"><br><br>
        <input type="text" name="year" placeholder="Year"><br><br>
        <input type="text" name="poster" placeholder="Poster URL"><br><br>
        <input type="text" name="description" placeholder="Description"><br><br>
        <input type="text" name="trailer" placeholder="Trailer Embed URL"><br><br>
        <input type="text" name="genre" placeholder="Genre Code"><br><br>
        <input type="submit" value="Submit">
    </form><br>
    <h4><a href='{{url_for('main')}}'>Back to Movies.</a></h4>
    <br>
    <div>
    # Genre Codes<br>
    # 1000000 = None<br>
    # 1000001 = Drama<br>
    # 1000010 = Comedy<br>
    # 1000100 = Thriller<br>
    # 1001000 = Action<br>
    # 1010000 = Horror<br>
    # 1100000 = Animation
    </div>
  </div>
{% endblock %}