{% extends "base.html" %}
{% block title %}Add Movie{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h2 class="text-center">Add New Movie Form</h2><br><br>
    <form action="{{url_for('newMovie')}}" method="POST">
      <div class="form-group">
        <label for="name">Title:</label>
        <input type="text" class="form-control" name="name" placeholder="Movie Title" id="name">
      </div>
      <div class="form-group">
        <label for="year">Year:</label>
        <input type="text" class="form-control" name="year" placeholder="Year of Release" id="year">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="5" name="description" placeholder="Synopsis here..." id="description"></textarea>
      </div>
      <label for="genre">Genres:</label>
      <div class="checkbox" id="genre">
        <label class="checkbox-inline"><input type="checkbox" name="genre" value="1"> Drama</label>
        <label class="checkbox-inline"><input type="checkbox" name="genre" value="10"> Comedy</label>
        <label class="checkbox-inline"><input type="checkbox" name="genre" value="100"> Thriller</label>
        <label class="checkbox-inline"><input type="checkbox" name="genre" value="1000"> Action</label>
        <label class="checkbox-inline"><input type="checkbox" name="genre" value="10000"> Horror</label>
        <label class="checkbox-inline"><input type="checkbox" name="genre" value="100000"> Animation</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form><br>
    <h4><a href='{{url_for('main')}}'>Back to Movies.</a></h4>
  </div>
{% endblock %}